<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side"  #drawer>
    <mat-list >
      <mat-list-item *ngFor="let item of menu">
        <a [href]="item.url">{{item.name}}</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button type="button" mat-icon-button (click)="toggleMenu()" color="accent">
      <mat-icon matListIcon>view_headline</mat-icon>
    </button>
    <ng-container #container></ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>

