<app-header ></app-header>
<app-sidenav>
  <ng-template #content>
    <h1 [ngStyle]="{'color': 'violet'}">{{title}}</h1>
    <mat-grid-list cols="2" rowHeight="1:1" [ngStyle]="{'max-width': '1200px', 'margin': '0 auto'}" >
      <mat-grid-tile *ngFor="let item of places" [ngStyle]="{'max-width': '500px'}">
        <mat-card class="example-card" >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.address}}</mat-card-title>
            <mat-card-subtitle>{{item.phone}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="item.img" [alt]="item.img">
          <mat-card-content>
            <p>
              {{item.address}}
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card" [ngStyle]="{'background':'#5fb3f9'}">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title [ngStyle]="{'color': 'white'}">{{item.weather.title | uppercase}}</mat-card-title>

          </mat-card-header>
          <img mat-card-image src="./assets/images/w-line.png">

          <mat-card-content>

              <figure  [ngStyle]="{'display':'flex','flex-flow':'row nowrap','justify-content':'space-around', 'margin':'5px'}">
                <img [ngStyle]="{'width': '50%'}" mat-card-image [src]="item.weather.icon" [alt]="item.img">
                <figcaption [ngStyle]="{'color': 'white'}">
                  <h3>{{item.weather.water}}<sup class="degree">°</sup></h3></figcaption>
              </figure>

            <p>
              Water: {{item.weather.water}}<sup class="degree">°</sup>
            </p>
          </mat-card-content>
        </mat-card>
              <!-- social_info -->
        <mat-card class="example-card" [ngStyle]="{'background':'#fd7b87'}">
          <mat-card-header>
            <mat-card-title [ngStyle]="{'color': 'white'}">{{item.social_info.title | uppercase}}</mat-card-title>

          </mat-card-header>

          <mat-card-content>
              <img [ngStyle]="{'width': '60px','height': '60px', 'border-radius':'50%', 'object-fit': 'cover', 'margin': '0 auto'}" mat-card-image [src]="item.social_info.img" [alt]="item.img">

            <div>Followers: {{item.social_info.followers}}</div>
            <img mat-card-image src="./assets/images/line.png">
            <div> Following: {{item.social_info.following}}</div>

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>


    </mat-grid-list>
  </ng-template>

</app-sidenav>
<app-places>

</app-places>
